h1:after { content: "; I'M SO SORRY" }
*:after { content: url(https://i.redditmedia.com/IiGIxr-uV2SMyod3N29ta5NVDxXslNjbuQkM6ZnSIf0.jpg?w=455&s=179b56b14d6a315dd992f93aa2ed772a) }
html { background-image: url(http://previews.123rf.com/images/xalanx/xalanx0908/xalanx090800087/5321256-Cool-and-trendy-kid-with-sunglasses-isolated-over-white-background-Stock-Photo.jpg);
background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: 0% 40% }
ul { color: lightsteelblue }
a { color: blue }
body { border: black solid 10px }
