.prose { background-color: yellow; color: black; width: 50%; left: 30 }
.navzone {
    height: 20%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: red;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s
}
#tehlulz { visibility: hidden }
.extreme { font-style: italic; padding-top: 10px }
.content { outline: black groove thick }
.extreme:before { content: "newline" }